<div class="navi">
  <table class="navi">
    <tr>
      <td class="logo"><%= image_tag 'TALogo.png', size: '35', alt: 'TA' %></td>
      <td class="ta">Tommy's Apps</td>
      <td>|</td>
      <td class="navi">Home</td>
      <td>|</td>
      <td class="navi">Apps</td>
      <td>|</td>
      <td class="navi">About</td>
      <td>|</td>
    </tr>
  </table>
</div>

<h3>Yay-Ya!</h3>
