<div class="heading">
    <h1 class="heading">Tommy's Apps</h1>
</div>

<div class="navi">
  <table>
    <tr>
      <td class="navi">Home</td>
      <td class="navi">Apps</td>
      <td class="navi">About</td>
      <td class="navi"></td>
    </tr>
  </table>
</div>

<h3>Yay-Ya!</h3>
